In [7]:
import pandas as pd
import numpy as np
import os
import random
pd.options.display.width = 2000

from IPython.display import display_html

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [64]:
df = pd.read_csv (r'C:\Users\Maggie\OneDrive\Learning\Python\data\df_arabica_clean.csv')

In [66]:
# generate random no. in dataframe column using seed no.
np.random.seed(300)
df['price'] = np.random.randint(0, 90000000, len(df))
df[['ID','price']].head(5)

   ID     price
0   0  58508497
1   1   7281121
2   2   9759637
3   3  46307018
4   4  24212489